body { display: flex; font-family: sans-serif; margin: 0; }
#left { width: 40%; padding: 20px; }
#right { width: 60%; padding: 20px; display: flex; flex-direction: column; align-items: center; }

input, select, button {
  font-size: 0.9em;
  margin: 5px 0;
  width: 80%;
  padding: 4px 6px;
}

#assetChart {
  height: 300px !important;
  max-height: 400px;
}

#chart-total {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}

#goal-input {
    width: 80%;
    margin-top: 20px;
    font-size: 1em;
    text-align: center;
  }
  #goal-input input {
    width: 70%;
    font-size: 1em;
    padding: 6px;
  }
  #goal-input button {
    font-size: 1em;
    margin-top: 5px;
    padding: 6px 12px;
  }
